.side-nav {
    display: none;
}

.menu-title {
    padding-left: 24px;
}

#accordion-menu .ui-accordion-content {
    padding: 0;
    padding-top: 10px;
}

#accordion-menu .ui-accordion-content li{
    padding-left: 20px;
    padding-bottom: 10px;
}

.glyphicon {
    position: absolute;
    max-width: 16px;
    max-height: 16px;
    display: inline-block;
    padding: 10px;
    /*background-size: 16px;*/
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.glyphicon-apartamento{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-90-building.png");
}

.glyphicon-condominio{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-90-building.png");
}

.glyphicon-boleto{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-260-barcode.png");
}

.glyphicon-cidade{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-619-mixed-buildings.png");
}

.glyphicon-convidado{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-44-group.png");
}

.glyphicon-convite{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-123-message-in.png");
}

.glyphicon-cor{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-93-tint.png");
}

.glyphicon-endereco{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-243-map-marker.png");
}

.glyphicon-estado{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-503-map.png");
}

.glyphicon-imagem{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-139-picture.png");
}

.glyphicon-indisponibilidade{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-200-ban-circle.png");
}

.glyphicon-mensalidade{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-617-fees-payments.png");
}

.glyphicon-pais{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-371-globe-af.png");
}

.glyphicon-papel{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-45-keys.png");
}

.glyphicon-plano{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-120-table.png");
}

.glyphicon-recurso{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-431-construction-cone.png");
}

.glyphicon-reserva{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-649-important-day.png");
}

.glyphicon-tipoplano{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-137-cogwheel.png");
}

.glyphicon-tiporeserva{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-137-cogwheel.png");
}

.glyphicon-usuario{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-4-user.png");
}

.glyphicon-usuariopapel{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-526-user-key.png");
}

.glyphicon-unidadetemporeserva{
    background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-69-ruler.png");
}